<%- layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Charger</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/chargers" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="charger[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="charger[location]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="images" class="form-label">Add Images</label>
                    <input class="form-control" type="file" id="images" name="images" multiple>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="charger[price]" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="charger[description]"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <a href="/chargers" class="btn btn-primary me-2">Cancel</a>
                <button type="submit" class="btn btn-success">New Charger</button>
            </form>
        </div>
    </div>